<!DOCTYPE html>
<html>
    <head>
        <title>RubyTwitter</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper grey darken-4">
                <ul class="left hide-on-med-and-down">
                    <li><a href="<%= users_path %>">Liste des utilisateurs</a></li>
                    <% if session[:current_user] %>
                        <li><a href="<%= filActu_path %>">Mon fil d'actualité</a></li>
                        <li><a href="<%= tendances_path %>">Tendances</a></li>
                    <% end %>
                </ul>
                <a href="<%= root_path %>" class="brand-logo center"><img src="<%= image_path('logo.png') %>" width="30" height="30" class="d-inline-block align-top" alt=""> Twitter On Rails</a>
                <ul class="right hide-on-med-and-down">
                    <% if session[:current_user] %>
                        <li><a href="<%= user_path(session[:current_user]['id']) %>">Connecté en tant que : <%= session[:current_user]['first_name'] %> <%= session[:current_user]['name'] %></a></li>
                        <li><a href="<%= disconnect_path %>">Déconnexion</a></li>
                    <% end %>
                </ul>
            </div>
        </nav>
        <%= yield %>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>
