// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tweet {
    margin-top: 20px;
    display: flex;
    align-items: center;
    .image {
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        margin-right: 15px;
    }
    .info {
        text-transform: uppercase;
        font-size: 16px;
    }
    .content {
        font-size: 14px;
    }
    &.me {
        justify-content: flex-end;
        text-align: right;
        .aImage {
            order: 2;
            margin-right: 0;
            margin-left: 15px;
        }
    }
}
