// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.user {
    width: 150px;
    height: 150px;
    margin: 30px;
    display: inline-block;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    .dark {
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 65px;
        .name {
            display: none;
        }
    }
}
.user.new {
    border: 2px dashed #212121;
    text-align: center;
    padding-top: 60px;
    color: #212121;
}
.user:hover {
    .dark {
        background-color: rgba(0,0,0,0.6);
        .name {
            display: inline-block;
            color: white;
        }
    }
}
.pdp {
    max-width: 200px;
    max-height: 200px;
}
h2 {
    font-size: 24px;
}
