<h1 class="title">Modifier mes informations</h1>
<div class="container">
    <div class="row">
        <div class="col s12">
            <%= render 'form' %>
        </div>
        <div class="col s12">
            <%= link_to 'Show', @user %> |
            <%= link_to 'Back', users_path %>
        </div>
    </div>
</div>
