<h1 class="title">Liste des utilisateurs</h1>
<div class="container">
    <div class="row">
        <div class="col s12 green-text center-align">
            <%= notice %>
        </div>
        <div class="col s12 center-align">
            <% @users.each do |user| %>
                <a href="<%= user_path(user) %>">
                    <div class="user" style="background-image: url(<%= image_path(user.img_url) %>)">
                        <div class="dark">
                            <div class="name"><%= user.first_name %> <%= user.name %></div>
                        </div>
                    </div>
                </a>
            <% end %>
            <a href="<%= new_user_path %>">
                <div class="user new">
                    <i class="material-icons">add</i>
                </div>
            </a>
        </div>
    </div>
</div>
