<p id="notice"><%= notice %></p>
<h1 class="title">Ajouter un utilisateur</h1>
<div class="container">
    <div class="row">
        <div class="col s12">
            <%= render 'form' %>
        </div>
        <div class="col s12">
            <%= link_to 'Back', users_path %>
        </div>
    </div>
</div>
