<h1 class="title"><%= @user.first_name %> <%= @user.name %></h1>
<div class="container">
    <div class="row">
        <div class="col s12 green-text">
            <%= notice %>
        </div>
        <div class="col s12">
            <img src="<%= image_path(@user.img_url) %>" class="pdp" />
        </div>
        <% if session[:current_user] && session[:current_user]['id'] == @user.id %>
            <div class="col s12">
                <h2>Tweets de <%= @user.first_name %></h2>
                <ul class="collection">
                <% @user.tweets.each do |tweet| %>
                  <li class="collection-item"><i><%= tweet.created_at.strftime('%a %d %b %Y à %Hh%M') %></i> : <%= tweet.content %></li>
                <% end %>
                <% if @user.tweets.length == 0 %>
                  <li class="collection-item">Vous n'avez pas encore tweeté</li>
                <% end %>
                </ul>
            </div>
            <div class="col s12">
                <h2>Abonnements :</h2>
                <ul class="collection">
                <% @user.follows.each do |follow| %>
                  <% @followed = User.find(follow.followed) %>
                  <li class="collection-item">
                      <%= @followed.first_name %> <%= @followed.name %>
                      <span class="badge"><a href="<%= unfollow_path(@followed.id) %>">Ne plus suivre cet utilisateur</a></span>
                  </li>
                <% end %>
                <% if @user.follows.length == 0 %>
                  <li class="collection-item">Aucun abonnement</li>
                <% end %>
                </ul>
            </div>
            <div class="col s12">
                <h2>Add a tweet:</h2>
                <%= form_for([@user, @user.tweets.build]) do |f| %>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">textsms</i>
                        <%= f.text_field :content %>
                    </div>
                    <%= f.submit %>
                </div>
                <% end %>
            </div>
            <div class="col s12">
                <%= link_to 'Supprimer', user_path(@user), method: :delete %> |
                <%= link_to 'Modifier', edit_user_path(@user) %> |
                <%= link_to 'Retour', users_path %> |
                <%= link_to 'Se déconnecter', disconnect_path %>
            </div>
        <% elsif @is_followed %>
            <div class="col s12">
                <h2>Tweets de <%= @user.first_name %></h2>
                <ul class="collection">
                <% @user.tweets.each do |tweet| %>
                  <li class="collection-item"><i><%= tweet.created_at.strftime('%a %d %b %Y à %Hh%M') %></i> : <%= tweet.content %></li>
                <% end %>
                <% if @user.tweets.length == 0 %>
                  <li class="collection-item"><%= @user.first_name %> <%= @user.name %> n'a pas encore tweeté</li>
                <% end %>
                </ul>
            </div>
            <div class="col s12">
                <%= link_to 'Retour', users_path %> |
                <%= link_to 'Utiliser ce compte', connect_path(@user.id) %> |
                <a href="<%= unfollow_path(@user.id) %>">Ne plus suivre cet utilisateur</a>
            </div>
        <% elsif session[:current_user] %>
            <div class="col s12 valign-wrapper">
                <i class="small material-icons">info</i> <p style="margin-left: 5px;">Suivez cette personne pour voir ses tweets</p>
            </div>
            <div class="col s12">
                <%= link_to 'Back', users_path %> |
                <%= link_to 'Utiliser ce compte', connect_path(@user.id) %> |
                <a href="<%= follow_path(@user.id) %>">Suivre cet utilisateur</a>
            </div>
        <% else %>
            <div class="col s12 valign-wrapper">
                <i class="small material-icons">info</i> <p style="margin-left: 5px;">Connectez-vous à ce compte pour éditer le profil</p>
            </div>
            <div class="col s12">
                <%= link_to 'Back', users_path %> |
                <%= link_to 'Utiliser ce compte', connect_path(@user.id) %>
            </div>
        <% end %>
    </div>
</div>
