<h1 class="title">Mon fil d'actualité</h1>
<div class="container">
    <div class="row">
        <div class="col s12 green-text">
            <%= notice %>
        </div>
        <div class="col s12 valign-wrapper">
            <i class="small material-icons">info</i> <p style="margin-left: 5px;">Suivez d'autres personnes pour afficher plus de tweets</p>
        </div>
        <%
            @tweets.each do |tweet|
                %>
                <div class="col s12 tweet <%= if tweet[:user].id == session[:current_user]['id'] then 'me' end %>">
                    <a class="aImage" href="<%= user_path(tweet[:user].id) %>"><div class="image" style="background-image: url(<%= image_path(tweet[:user].img_url) %>)"></div></a>
                    <div class="content">
                        <div class="info"><%= tweet[:user].first_name %> <%= tweet[:user].name %> a tweeté le <i><%= tweet[:tweet].created_at.strftime('%a %d %b %Y à %Hh%M') %></i> : </div>
                        <div class="text"><%= tweet[:tweet].content %></div>
                    </div>
                </div>
                <%
            end

            if @tweets.length == 0
                %>
                <div class="col s12 center-align">
                    Aucun tweet à afficher
                </div>
                <%
            end
        %>
    </div>
</div>
