<h1 class="title">Tendances actuelles</h1>
<div class="container">
    <div class="row">
        <div class="col s12 green-text">
            <%= notice %>
        </div>
        <div class="col s8">
            <h2><%= if @selected then '#'+@selected else 'Derniers tweets' end %></h2>
            <%
                @tweets.each do |tweet|
                    if @selected != "" && tweet[:tweet].content[/##{@selected}*/]
                    %>
                    <div class="col s12 tweet <%= if tweet[:user].id == session[:current_user]['id'] then 'me' end %>">
                        <a class="aImage" href="<%= user_path(tweet[:user].id) %>"><div class="image" style="background-image: url(<%= image_path(tweet[:user].img_url) %>)"></div></a>
                        <div class="content">
                            <div class="info"><%= tweet[:user].first_name %> <%= tweet[:user].name %> a tweeté le <i><%= tweet[:tweet].created_at.strftime('%a %d %b %Y à %Hh%M') %></i> : </div>
                            <div class="text"><%= tweet[:tweet].content %></div>
                        </div>
                    </div>
                    <%
                    end
                end
            %>
        </div>
        <div class="col s4">
            <h2>Top Tweets</h2>
            <ul class="collection">
            <% @nb_hashtags.each do |hashtag| %>
                <li class="collection-item">
                    <a href="<%= hashtag_path(hashtag[:tag].delete '#') %>"><%= hashtag[:tag] %></a><span class="badge"><%= hashtag[:count] %></span>
                </li>
            <% end %>
            </ul>
        </div>
    </div>
</div>
